@import "bootstrap";
@import "font-awesome";

body
{
  background: image_url('footer_lodyas.png');
  font-family: 'alex_brushregular', Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

a 
{
  color: #fbfeff;
}

.booyah-box
{
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #7a8f99;
  border: 1px solid black;
  border-color: #acd2e5 #bfa4bf #a68fa5 #73a6bf;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  border-width:5px;  
  border-style:outset;
}

.booyah-box i, p, small
{
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

h1, h2, h3, h4, h5, h6 
{
  margin: 0;
  padding: 0;
}

#bigger
{
  font-size: 20px;
}

.same-dimensions
{
  overflow: hidden;
  height: 300px;
  width: 450px;
}

.color-header
{
  color: #ADA7B0;
}

.navbar 
{
  background: image_url('dark_Tire.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px black;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand 
{
  color: #bee9ff;
  font-family: 'alex_brushregular', sans-serif;
  letter-spacing: 1.5px;
  font-size: 30px;  
}

#my_pagination 
{
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 50px;
  color: #fbfeff;
}

#my_pagination a 
{
  margin: 4px;
  text-decoration: none;
  color: #fbfeff;

}

.previous_page, .next_page
{
  margin: 3px;
  color: #fbfeff;
}

.help-block
{
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

    html, body 
    {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #map 
    {
      height: 300px;
    }

    .clear 
    {
      clear: both;
    }

  blockquote 
  {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  background: #ADA7B0;
  border-left: 10px solid #898D8F;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border-width:5px;  
}

blockquote:before 
{
  color: #898D8F;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p 
{
  display: inline;
}

.image-class
{
  width: 100%;
}


.image-class-index
{
  width: 25%;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img 
{
  max-height: 550px;
  width: 100%;
}

.carousel-caption 
{
  font-family: 'alex_brushregular', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel 
{
  box-shadow: 0px 3px 8px #2a2a2a;
}

